body {
	font-family: "Open Sans", sans-serif;
}

/*CSS Reset*/
/*
	CSS Reset is to set the default margin and padding of the webpage elements into 0 to remove any default measurement assigned by the browser.

	Box-Sizing property defines how the width and height of an element are calculated. This allows us to control the measurements of elements better.

	Border-Box value includes padding and border properties of an element to the total height and width in its computation.
*/
* {
/*	outline: 1px solid red;*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



nav {

	/*
	shorthand for: 
	padding-top: 0.8rem
	padding-bottom: 0.8rem
	padding-right: 0.8rem
	padding-left: 0.8rem
	*/

	/*
	rem stands for root element measurement - default is 16px if not modified using css

		0.8 * rem = 12.8px padding of all sides of the nav
	*/

	padding: 0.8rem;

	/*
	maring, padding, and border properties can be set on one side only. just add the side e.g.

	-top
	-bottom
	-right
	-left

	on the property
	*/

	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs padding*/
/*marigin is best used when creating space between elements*/
/*padding is best used when creating space between and elements border and its content*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;

	/*changes elements to inline elements*/
	display:inline;
}

#intro {

	/*
		padding-top: 2rem
		padding-right: 10%
		padding-left: 10%
		padding-bottom: 3 rem
	*/

	/*
		x% = takes x% of the parent element's height/width 
		since BODY TAG is the parent element of the #intro section, we will take 10% of its width, which is 10% of the full-page width, and set it as margin for the left and right side of the #intro section
	*/

	padding: 2rem 10% 3rem;

	/*
	padding: 2rem 10% 3rem 5rem;
	padding-top: 2rem
	padding-left: 10%
	padding-bottom: 3rem
	padding-right: 5rem
	*/

	/*
	padding: 2rem 10%;
	padding-top: 2rem
	padding-left: 10%
	padding-bottom: 2rem
	padding-right: 10%
	*/


	/*modify the text alignment of the element*/
	text-align: center;
}

.header {
	/*most used css layout propert in centering text*/
	text-align: center;
}


#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {

	color: white;
	/*changes the color of text*/

	font-weight: bold;
	/*changes the thickness of text*/

	background-color: #c2195b;
	/*changes the bg-color of button*/

	font-size: 1rem;

	border-radius: 25px;
	/*rounds the corners of the border to the specified measurement*/

	padding: 1rem;

}

#succeed-info {
	padding: 2rem 2% 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
text-align: center;
margin-bottom: 1rem;
}

#succeed-info .card {

	display: inline-block;
	/*allows the .cards to appear beside each other*/

	/*the elements are inline to their sibling elements but behaves as block elements outside their parent element*/

	vertical-align: top;
	/*where to align the elements of the div vertically*/

	min-height: 175px;
	/*allow .cards to have equal height should they have different card lengths*/

	/*border:	1px solid black;*/

	width: 30%;
	/*we used only 30% if the parent element to avoid overflowing of the elements that can lead to horizontal scrolling*/
	margin-left: 0.5rem;

	margin-right: 0.5rem;

}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	padding: 1rem 0.5rem;
	background-color: #102240;
	color: white;

}

#pre-footer div {
	vertical-align: top;
    padding: 1.2rem 0.5rem;
    min-height: 100px;
    min-width: 295px;
    display: inline-block;
    margin-left: 0.3rem;
    line-height: 1.7rem;
    font-size: 17px;
}